$blockTimes: 800,830,900,930,1000,1030,1100,1130,1200,1230,1300,1330,1400,1430,1500,1530,1600,1630,1700;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 0;
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.dp {
  width: 20rem;
}
.controls{
  display: flex;
  flex-direction: row;
}

.scheduleContainer {
  display: grid;
  grid-gap: 0.2rem;

  grid-template-columns: 5rem repeat(7, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-template-areas:
    ". day day day day day day day"
    "time800 monday tuesday wednesday thursday friday saturday sunday"
    "time830 monday tuesday wednesday thursday friday saturday sunday"
    "time900 monday tuesday wednesday thursday friday saturday sunday"
    "time930 monday tuesday wednesday thursday friday saturday sunday"
    "time1000 monday tuesday wednesday thursday friday saturday sunday"
    "time1030 monday tuesday wednesday thursday friday saturday sunday"
    "time1100 monday tuesday wednesday thursday friday saturday sunday"
    "time1130 monday tuesday wednesday thursday friday saturday sunday"
    "time1200 monday tuesday wednesday thursday friday saturday sunday"
    "time1230 monday tuesday wednesday thursday friday saturday sunday"
    "time1300 monday tuesday wednesday thursday friday saturday sunday"
    "time1330 monday tuesday wednesday thursday friday saturday sunday"
    "time1400 monday tuesday wednesday thursday friday saturday sunday"
    "time1430 monday tuesday wednesday thursday friday saturday sunday"
    "time1500 monday tuesday wednesday thursday friday saturday sunday"
    "time1530 monday tuesday wednesday thursday friday saturday sunday"
    "time1600 monday tuesday wednesday thursday friday saturday sunday"
    "time1630 monday tuesday wednesday thursday friday saturday sunday"
    "time1700 monday tuesday wednesday thursday friday saturday sunday";
}

/**
 * Time
 */
.time {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: thin dotted #ccc;
  height: 100%;
  padding: 0 0.5rem;

  @each $time in $blockTimes {
    &.start-#{$time} {grid-area: time#{$time} }
  }

  &[class*="30"]:not(.start-1300) {
    font-size: 0.8rem;
    color: #ccc;
  }
}

.day{
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * Event
 */
.event {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem 1rem;
  background-color: orange;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.4;

  span {
    display: block;
    width: 100%;
    font-size: 0.8em;
    font-weight: normal;
  }

  @each $time in $blockTimes {
    &.start-#{$time} {grid-row-start: time#{$time} }
  }

  @each $time in $blockTimes {
    &.end-#{$time} {grid-row-end: time#{$time} }
  }

  &.monday {
    grid-column-start: monday;
  }
  &.tuesday {
    grid-column-start: tuesday;
  }
  &.wednesday {
    grid-column-start: wednesday;
  }
  &.thursday {
    grid-column-start: thursday;
  }
  &.friday{
    grid-column-start: friday;
  }

}
